---
breadcrumb: Swisscom Developer Documentation
---
<div class="main-container">
  <div class="main">
    <img style="display: block; text-align: center; margin: 0 auto; width:50%; position: relative; margin-top: 1em; margin-bottom: 1em; max-width: 250px;" src="images/logo_appcloud.svg" alt="Swisscom Developer">
  </div>
</div>

<br>

<div>
  <ul class="panels">
    <li class="panel span3">
      <a class="button" href="/getting-started/index.html">
        <h2 class="title-flashy">
          <span class="title-deemph">Getting Started</span><br>Tutorials
        </h2>
      </a>
    </li>
    <li class="panel span3">
      <a class="button" href="https://stackoverflow.com/questions/tagged/swisscomdev" target="_blank">
        <h3 class="title-flashy">
          <span class="title-deemph">Stackoverflow</span><br>Community
        </h3>
      </a>
    </li>
    <li class="panel span3">
      <a class="button" href="https://developer.swisscom.com/faq" target="_blank">
        <h3 class="title-flashy">
          <span class="title-deemph">Questions?</span><br>FAQ
        </h3>
      </a>
    </li>
  </ul>

  <div id="read-the-docs" class="main docs-column-main">
    <div class="docs-subsection">
      <h3><a class="title" href="/getting-started/index.html">Getting Started</a></h3>
      <div class="docs-module-description">Welcome to Swisscom Application Cloud. This is the fastest way to get you started!</div>
    </div>

    <div class="docs-subsection">
      <h3><a class="title" href="/console/index.html">Web Console</a></h3>
      <div class="docs-module-description">A guide to using our Web GUI</div>
    </div>

    <div class="docs-subsection">
      <h3><a class="title" href="/cf-cli/index.html">cf Command Line Interface</a></h3>
      <div class="docs-module-description">A guide to using the Cloud Foundry CLI tool</div>
      <br>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/cf-cli/install-go-cli.html">Installing the cf CLI</a>
        </div>
        <div class="docs-link">
          <a href="/cf-cli/getting-started.html">Getting started with the cf CLI</a>
        </div>
        <div class="docs-link">
          <a href="/cf-cli/http-proxy.html">Using the cf CLI with a proxy server</a>
        </div>
        <div class="docs-link">
          <a href="/cf-cli/self-signed.html">Using the cf CLI with a self-signed certificate</a>
        </div>
        <div class="docs-link">
          <a href="/cf-cli/use-cli-plugins.html">Using cf CLI plug-ins</a>
        </div>
        <div class="docs-link">
          <a href="/cf-cli/develop-cli-plugins.html">Developing cf CLI plug-ins</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/start-restart-restage.html">About starting apps</a>
        </div>
        <div class="docs-link">
          <a href="https://cli.cloudfoundry.org/en-US/v6/">cf CLI v6 Reference Guide</a>
        </div>
        <div class="docs-link">
          <a href="https://cli.cloudfoundry.org/en-US/v7/">cf CLI v7 Reference Guide</a>
        </div>
        <div class="docs-link">
          <a href="https://cli.cloudfoundry.org/en-US/v8/">cf CLI v8 Reference Guide</a>
        </div>

      </div>
    </div>

    <div class="docs-subsection">
      <h3><a class="title" href="/devguide/index.html">Develop and Manage Applications</a></h3>
      <div class="docs-module-description">Develop, run, and track applications in the cloud.</div>
      <br>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/devguide/deploy-apps/prepare-to-deploy.html">Designing and running your app in the cloud</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/deploy-app.html">Pushing your app using Cloud Foundry CLI (cf push)</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/large-app-deploy.html">Deploying your large apps</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/rolling-deploy.html">Configuring rolling app deployments</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/push-docker.html">Deploying an app with Docker</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/app-lifecycle.html">The app container lifecycle on Diego architecture</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/healthchecks.html">Using Cloud Foundry health checks</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/manifest.html">Deploying with app manifests</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/cf-scale.html">Scaling your app using Cloud Foundry CLI (cf scale)</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/using-tasks.html">Running tasks in your apps</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/routes-domains.html">Routes and domains</a>
        </div>
        <br>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/environment-variable.html">Cloud Foundry Application Runtime (CFAR) Environment Variables</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/blue-green.html">Using blue-green deployment to reduce downtime</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/streaming-logs.html">App logging in Cloud Foundry</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/troubleshoot-app-health.html">Troubleshooting app deployment and health</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/app-ssh-overview.html">Configuring SSH access for your deployment</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/ssh-apps.html">Accessing your apps with SSH</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/ssh-services.html">Accessing services with SSH</a>
        </div>
        <div class="docs-link">
          <a href="/running/cf-api-endpoint.html">Identifying your Cloud Foundry API endpoint and version</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/custom-ports.html" class="subnav">Configuring apps to listen on custom ports</a>
        </div>
      </div>
      <h5 class="docs-landing-page-subheading">Integrating service instances with apps</h5>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/devguide/services/index.html">Services Overview</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/services/application-binding.html">Delivering service credentials to an app</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/services/managing-services.html">Managing service instances with the cf CLI</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/services/service-keys.html">Managing service keys</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/services/user-provided.html">User-provided service instances</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/services/route-binding.html">Manage app requests with route services</a>
        </div>
        <br>
        <div class="docs-link">
          <a href="/devguide/services/play-service-bindings.html">Configuring Play Framework service connections</a>
        </div>

        <div class="docs-link">
          <a href="/devguide/services/log-management.html">Streaming app logs to log management services</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/services/log-management-thirdparty-svc.html">Streaming app logs to third-party services</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/services/integrate-splunk.html">Integrating Cloud Foundry with Splunk</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/services/using-vol-services.html">Using an external filesystem (volume services)</a>
        </div>
        <div class="docs-link">
        <a href="/devguide/services/metrics.html">Using metrics with drain logs</a>
        </div>
      </div>
    </div>

    <div class="docs-subsection">
      <h3><a class="title" href="/service-offerings/index.html">Our Services</a></h3>
      <div class="docs-module-description">A list of the services we offer and how to use them</div>
    </div>

    <div class="docs-subsection">
      <h3><a class="title" href="/concepts/roles.html#spaces">Spaces</a></h3>
      <div class="docs-module-description">A guide to creating and managing Spaces</div>
      <br>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/adminguide/cli-user-management.html">cf CLI user management</a>
        </div>
        <div class="docs-link">
          <a href="/adminguide/quota-plans.html">Creating and modifying Quota Plans</a>
        </div>
        <div class="docs-link">
          <a href="/adminguide/buildpacks.html">Managing custom buildpacks</a>
        </div>
        <div class="docs-link">
          <a href="/running/custom-stack.html">Adding a custom stack</a>
        </div>
        <div class="docs-link">
          <a href="/adminguide/docker.html">Using Docker in Cloud Foundry</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/asg.html">Application Security Groups</a>
        </div>
        <br>
        <div class="docs-link">
          <a href="/devguide/deploy-apps/cf-networking.html">Administering container-to-container networking</a>
        </div>
        <div class="docs-link">
          <a href="/adminguide/isolation-segments.html">Managing isolation segments</a>
        </div>
        <div class="docs-link">
          <a href="/adminguide/routing-is.html">Routing isolation segments</a>
        </div>
        <div class="docs-link">
          <a href="/adminguide/listing-feature-flags.html">Feature flags</a>
        </div>
        <div class="docs-link">
          <a href="/running/config-ssh.html">Configuring SSH access for Cloud Foundry</a>
        </div>
        <div class="docs-link">
          <a href="/adminguide/enabling_ipv6.html">Enabling IPv6 for Hosted Applications</a>
        </div>
        <div class="docs-link">
          <a href="/adminguide/securing-traffic.html">Securing Traffic into Cloud Foundry</a>
        </div>
        <div class="docs-link">
          <a href="/running/trusted-system-certificates.html">Configuring Trusted System Certificates for Applications</a>
        </div>
        <br>
        <div class="docs-link">
          <a href="/adminguide/enabling-tcp-routing.html">Enabling TCP routing</a>
        </div>
        <div class="docs-link">
          <a href="/adminguide/distributed-tracing.html">Distributed tracing</a>
        </div>
        <div class="docs-link">
          <a href="/adminguide/zipkin_tracing.html">Enabling Zipkin tracing</a>
        </div>
        <div class="docs-link">
        <a href="/adminguide/w3c_tracing.html">Enabling W3C tracing</a>
        </div>
        <div class="docs-link">
          <a href="/adminguide/supporting-websockets.html">Supporting WebSockets</a>
        </div>
        <div>
          <a href="/adminguide/configure-lb-healthcheck.html">Configuring Load Balancer Healthchecks for Cloud Foundry Routers</a>
        </div>
        <div>
          <a href="/adminguide/troubleshooting_slow_requests.html">Troubleshooting Slow Requests in Cloud Foundry</a>
        </div>
        <div>
          <a href="/adminguide/troubleshooting-router-error-responses.html">Troubleshooting router error responses</a>
        </div>
        <div>
          <a href="/running/setting-rate-limit-cloud-api.html">Setting the rate limit for the Cloud Controller API</a>
        </div>
        <div class="docs-link">
          <a href="/running/deploy-vol-services.html">Adding volume services to your deployment</a>
        </div>
        <div>
          <a href="/adminguide/routing-keepalive.html">Gorouter back end keep-alive connections</a>
        </div>
        <br>
        <div>
          <a href="/uaa/index.html">User Account and Authentication (UAA) server</a>
        </div>
      </div>
    </div>

    <div class="docs-subsection">
      <h3><a class="title" href="/concepts/roles.html#orgs">Orgs</a></h3>
      <div class="docs-module-description">A guide to creating and managing Orgs</div>
      <br>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/buildpacks/index.html">Buildpacks</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/understand-buildpacks.html">How Buildpacks Work in Cloud Foundry</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/custom.html">Custom buildpacks</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/depend-pkg-offline.html">Packaging dependencies for offline buildpacks</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/prod-server.html">Configuring a production server</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/merging_upstream.html">Merging from upstream buildpacks</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/upgrading_dependency_versions.html">Upgrading dependency versions</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/releasing_a_new_buildpack_version.html">Releasing a new buildpack version</a>
        </div>
      </div>
      <h5 class="docs-landing-page-subheading">Java</h5>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/buildpacks/java/index.html">Java buildpack</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/java/java-tips.html">Tips for Java developers</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/java/getting-started-deploying-apps/gsg-grails.html">Grails</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/java/getting-started-deploying-apps/gsg-ratpack.html">Ratpack</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/java/getting-started-deploying-apps/gsg-spring.html">Spring</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/java/configuring-service-connections.html">Configure service connections</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/java/java-native-image.html">Using Java Native Image buildpack</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/java/java-client.html">Cloud Foundry Java Client Library</a>
        </div>
      </div>
      <h5 class="docs-landing-page-subheading">Node.js</h5>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/buildpacks/node/index.html">Node.js Buildpack</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/node/node-tips.html">Tips for Node.js Applications</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/node/node-environment.html">Environment variables defined by the Node buildpack</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/node/node-service-bindings.html">Configure service connections for Node.js</a>
        </div>
      </div>
      <h5 class="docs-landing-page-subheading">Ruby</h5>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/buildpacks/ruby/index.html">Ruby buildpack</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/ruby/gsg-ruby.html">Getting started deploying Ruby apps</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/ruby/gsg-ror.html">Getting started deploying Ruby on Rails apps</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/ruby/sample-ror.html">Deploy a sample Ruby on Rails app</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/ruby/rake-config.html">Configure Rake tasks for deployed apps</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/ruby/ruby-tips.html">Tips for Ruby developers</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/ruby/ruby-environment.html">Environment variables defined by the Ruby buildpack</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/ruby/ruby-service-bindings.html">Configure service connections for Ruby</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/ruby/windows.html">Support for Windows Gemfiles</a>
        </div>
      </div>
      <h5 class="docs-landing-page-subheading">Other buildpacks</h5>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/buildpacks/go/index.html">Go</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/nginx/index.html">NGINX</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/dotnet-core/index.html">.NET</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/php/index.html">PHP</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/python/index.html">Python</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/staticfile/index.html">Staticfile (for HTML, CSS, JavaScript)</a>
        </div>
        <div class="docs-link">
          <a href="/buildpacks/binary/index.html">Binary (for binary web servers)</a>
        </div>
      </div>
    </div>

    <div class="docs-subsection">
      <h3><a class="title" href="/billing/index.html">Billing</a></h3>
      <div class="docs-module-description">A guide to creating and managing Billing Accounts</div>
      <br>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/running/index.html">Overview</a>
        </div>
        <div class="docs-link">
          <a href="/running/managing-cf/logging.html">Cloud Foundry logging</a>
        </div>
        <div class="docs-link">
          <a href="/running/managing-cf/logging-config.html">Configuring system logging</a>
        </div>
        <div class="docs-link">
          <a href="/running/diego-upgrades.html">Configuring Diego for upgrades</a>
        </div>
        <div class="docs-link">
          <a href="/running/config-cell-cleanup.html">Configuring Diego Cell disk cleanup scheduling</a>
        </div>
        <div class="docs-link">
          <a href="/running/hm-notifications.html">Configuring Health Monitor notifications</a>
        </div>
        <div class="docs-link">
          <a href="/running/managing-cf/audit-events.html">Audit events</a>
        </div>
        <div class="docs-link">
          <a href="/running/managing-cf/uaa-audit-requirements.html">UAA audit requirements</a>
        </div>
        <div class="docs-link">
          <a href="/running/managing-cf/usage-events.html">Usage events and billing</a>
        </div>
        <div class="docs-link">
          <a href="/running/monitoring-test.html">Monitoring and testing Diego components</a>
        </div>
        <div class="docs-link">
          <a href="/running/troubleshooting.html">Troubleshooting Cloud Foundry</a>
        </div>
      </div>
    </div>

    <div class="docs-subsection">
      <h3><a class="title" href="/concepts/index.html">Cloud Foundry concepts</a></h3>
      <div class="docs-module-description">Understand how Cloud Foundry works.</div>
      <br>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="/concepts/overview.html">Cloud Foundry overview</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/architecture/index.html">Cloud Foundry Runtime Components</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/diego/diego-architecture.html">Diego components and architecture</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/diego/diego-auction.html">How Diego balances app processes in Cloud Foundry</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/how-applications-are-staged.html">Staging your apps in Cloud Foundry</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/diego/ssh-conceptual.html">Application SSH Components and Processes</a>
        </div>
        <br>
        <div class="docs-link">
          <a href="/concepts/asg.html">Application Security Groups</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/high-availability.html">High Availability in Cloud Foundry</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/roles.html">Orgs, spaces, roles, and permissions in Cloud Foundry</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/orgs-and-spaces.html">Planning orgs and spaces in Cloud Foundry</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/security.html">Cloud Foundry security</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/container-security.html">Container security in Cloud Foundry</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/understand-cf-networking.html">Container-to-container networking</a>
        </div>
        <div class="docs-link">
          <a href="/concepts/http-routing.html">HTTP routing</a>
        </div>
      </div>
    </div>

    <div class="docs-subsection">
      <h3><a class="title" href="/concepts/index.html">Cloud Foundry Concepts</a></h3>
      <div class="docs-module-description">An explanation of the components in Cloud Foundry and how they work</div>
    </div>

    <div class="docs-subsection">
      <h3>API Reference</h3>
      <div class="docs-module-description"></div>
      <br>
      <div class="docs-column-description">
        <div class="docs-link">
          <a href="https://docs.cloudfoundry.org/api/uaa/index.html">User Account and Authentication (UAA) server API</a>
        </div>
        <div class="docs-link">
          <a href="/devguide/capi/client-libraries.html">Available Cloud Controller API client libraries</a>
        </div>
        <div class="docs-link">
          <a href="/running/rate-limit-cloud-controller-api.html">Rate limit information returned by the Cloud Controller API</a>
        </div>
        <div class="docs-link">
          <a href="http://v2-apidocs.cloudfoundry.org">CAPI V2 documentation</a>
        </div>
        <div class="docs-link">
          <a href="http://v3-apidocs.cloudfoundry.org/index.html">CAPI V3 documentation</a>
        </div>
        <div class="docs-link">
          <a href="https://docs.cloudfoundry.org/api/credhub/">CredHub API documentation</a>
        </div>
      </div>
    </div>
  </div>
  <div>
    &nbsp;
	</div>
  <div>
    <a id='repo-link' href='https://github.com/cloudfoundry/docs-book-cloudfoundry/blob/master/master_middleman/source/index.html.md.erb'>Create a pull request or raise an issue on the source for this page in GitHub</a>
  </div>
</div>


